---
export interface Props {
	name?: string;
	title: string;
	body?: string;
	href: string;
	icon: string;
	iconStyle?: string;
	what: string;
	reload?: boolean;
}

const { name, href, title, body, icon, iconStyle = '', what, reload } = Astro.props;
---

<li class="link-card">
	<a href={href} data-astro-reload={reload}>
		<tt>{what}</tt>
		<h2>
			{
				name ? (
					<span style={`view-transition-name: ${name + '-1'}; display:inline-block`}>{title}</span>
				) : (
					`${title}`
				)
			}
			<span>&nbsp;&rarr;</span>
		</h2>
		<p>
			{
				name ? (
					<span
						style={`view-transition-name: ${
							name + '-2'
						}; display: inline-block; font-size:3.5rem; float:right; padding:0.2em; ${iconStyle}`}
					>
						{icon}
					</span>
				) : (
					<span style={`font-size:3.5rem; float:right; padding:0.2em; ${iconStyle}`}>{icon}</span>
				)
			}
			{body}
			{
				name ? (
					<div style={`view-transition-name: ${name + '-3'};`}>
						<slot />
					</div>
				) : (
					<slot />
				)
			}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.25rem;
		background-color: var(--vtbot-background-color);
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow:
			0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		background-color: var(--vtbot-background-color);
		opacity: 0.8;
		color: var(--vtbot-color);
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	tt {
		font-size: 0.66rem;
	}
	p {
		hyphens: auto;
		margin-top: 0.5rem;
		margin-bottom: 0;
		hyphens: auto;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
</style>
