---
import Carousel from '../components/Carousel.astro';
import CarouselNav from '../components/CarouselNav.astro';
import Layout from './Layout.astro';
interface Props {
	title: string;
	background: string;
	index: number;
	pages: string[];
}
const { title, background, index, pages } = Astro.props;

const backwards = {
	old: {
		name: 'scaleToSmall',
		duration: '1s',
	},
	new: {
		name: 'scaleFromBig',
		duration: '.5s',
	},
};
const forwards = {
	old: {
		name: 'scaleToBig',
		duration: '0.5s',
	},
	new: {
		name: 'scaleFromSmall',
		duration: '1s',
	},
};

const slowScale = {
	forwards,
	backwards,
};
---

<Layout title={title} {background}>
	<Carousel slot="head" pages={pages} index={index} />
	<main>
		<h1>This is {title}</h1>
		<CarouselNav pages={pages} , index={index} />
		<br />
		<a href={'javascript:history.go(-' + (index + 1) + ')'}>Leave</a>
		<div id="slow" transition:animate={slowScale}>
			<slot />
		</div>
	</main>
</Layout>

<style>
	:root {
		font-family: sans-serif;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	@keyframes scaleToBig {
		from {
			transform: scale(1);
			opacity: 1;
		}
		to {
			transform: scale(10);
			opacity: 0;
		}
	}
	@keyframes scaleFromBig {
		from {
			transform: scale(10);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}
	@keyframes scaleToSmall {
		from {
			transform: scale(1);
			opacity: 1;
		}
		to {
			transform: scale(0);
			opacity: 1;
		}
	}
	@keyframes scaleFromSmall {
		from {
			transform: scale(0);
			opacity: 1;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}
</style>
